.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 18px;
  margin: 0 auto;
  max-width: 1194px;
  width: 100%;
  font-size: 0;
  text-align: left;
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
  }
  .card {
    position: relative;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 0 #333;
    transform-origin: 50% 50%;
    transition: box-shadow 0.35s, transform 0.35s;
    perspective: 1000px;
    text-align: center;
    box-sizing: border-box;
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    &:hover {
      transform: translate(4px, -4px);
      box-shadow: -4px 4px 0 #333;
    }
    .inner {
      position: relative;
      transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
      background: #fff;
      a.link {
        display: inline-block;
        padding: 18px 22px;
        width: 100%;
        border: 1px solid #333;
        box-sizing: border-box;
      }
    }
    header {
      padding-bottom: 6px;
      border-bottom: 1px solid #999;
      h2 {
        margin: 0;
        line-height: 1;
        font-size: 1.8rem;
        font-weight: 600;
      }
      .info {
        span {
          position: relative;
          display: inline-block;
          padding: 2px 0;
          margin-top: 6px;
          font-size: 1.1rem;
          font-weight: 400;
          
          & + span {
            padding-left: 8px;
            margin-left: 8px;

            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 8px;
              transform: translateY(-50%);
              background: #333;
            }
          }
        }
      }
    }
    section {
      padding-top: 14px;
      p {
        font-size: 1.4rem;
        font-weight: 300;
      }
      .tag-group {
        margin-top: 16px;
        font-size: 0;
        span {
          display: inline-block;
          padding: 2px 8px;
          font-size: 1.1rem;
          border: 1px solid #333;
          & + span {
            margin-left: 4px;
          }
        }
      }
    }
    a.github {
      text-indent: -9999px;
      position: absolute;
      top: 0;
      right: 0;
      width: 44px;
      height: 44px;
      background: url('../images/logo_github.svg') no-repeat center;
      background-size: 24px;
      opacity: 0.8;
    }
  }
}