#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px 24px 80px;
  max-height: 100vh;;
  overflow-y: auto;
  @include mobile {
    display: block;
  }
  > header {
    text-align: center;
    h1 {
      display: flex;
      margin: 0;
      font-size: 1.6rem;
      font-weight: 300;
      align-items: center;
      justify-content: center;
      a {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
      }
      a.github {
        margin-left: 10px;
        width: 34px;
        height: 34px;
        background: url('../images/logo_github.svg') no-repeat center;
        background-size: 24px;
        opacity: 0.8;
        text-indent: 100%;    
        white-space: nowrap;    
        overflow: hidden;
      }
    }
    p {
      margin-top: 12px;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  > section {
    margin-top: 32px;
  }
}