> header {
  display: inline-flex;
  margin: 0 auto 36px;
  padding: 0 12px 8px;
  border-bottom: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    display: flex;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    a.github {
      width: 34px;
      height: 34px;
      background: url('../images/logo_github.svg') no-repeat center;
      background-size: 20px;
      opacity: 0.8;
      text-indent: 100%;    
      white-space: nowrap;    
      overflow: hidden;
    }
    a {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  nav {
    margin-left: 100px;
    margin-bottom: 4px;
    a {
      position: relative;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.05em;
      &.active {
        font-weight: 800;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
          height: 2px;
          border-radius: 2px;
          background: #333;
        }
      }
      & + a {
        margin-left: 18px;
      }
    }
  }
}