label {
  input {
    vertical-align: middle;
  }
  i {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

@import './card.scss';
@import './toolbar.scss';
@import './checkbox.scss';
@import './radio.scss';