.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  > p {
    margin: 12px 0 32px;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
  }
}