.stat-group {
  & + .stat-group {
    margin-top: 64px;
  }

  .checkbox-group {
    label {
      i {
        background-color: #fff;
      }
      &.hello {
        i {
          background-image: linear-gradient(-45deg, rgba(17, 17, 17, 0) 4px, #333 4px, rgba(17, 17, 17, 0) 5px);
          background-size: 6px 6px;
          background-repeat: repeat;
        }
      }
      &.blind-chat {
        i {
          background-image: repeating-linear-gradient(to bottom, transparent, transparent 2px, #fff 2px, #fff 4px), repeating-linear-gradient(to right, #333, #333 2px, #fff 2px, #fff 4px);
          background-position: -3px -3px;
        }
      }
      &.gojiri {
        i {
          background-image: linear-gradient(-90deg, rgba(17, 17, 17, 0) 2px, #333 2px, rgba(17, 17, 17, 0) 3px);
          background-size: 3px 3px;
          background-repeat: repeat;
        }
      }
      &.halloween {
        i {
          background-image: radial-gradient(#333 1px, rgba(0, 0, 0, 0) 1px);
          background-size: 4px 4px;
          background-position: -4px -4px;
        }
      }
    }
  }
}