#app {
  display: block;
  
  main.mobile > .layout > header {
    padding-left: 52px;
    padding-right: 52px;
    flex-direction: column;
    nav {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

