.scroll {
  &::-webkit-scrollbar:vertical {
    width: 12px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid rgba(170, 170, 170, 0);
    border-left-width: 3px;
    border-radius: 4px;
    background-color: #aaa;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(170, 170, 170, 0);
  }
  &::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #ddd;
  } 
  &::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #ddd;
  } 
}

