.card-enter {
  opacity: 0.01;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
